@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f8;
}

.main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer-fixed {
    margin-top: auto;
}