.responsive_navbar {
    font-size: 14px;
    padding: 12px 16px;
    background-color: #FF9500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    margin: 16px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

@media (max-width: 640px) {
    .responsive_navbar {
        font-size: 8px;
    }
}

@media (max-width: 440px) {
    .responsive_navbar {
        font-size: 10px;
        gap: 10px;
    }
}

.right_text {
    display: flex;
    gap: 16px;
    /* Space between navigation items */
    align-items: center;


}

@media (max-width: 768px) {
    .right_text {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 16px;
        z-index: 10;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all .5s ease;
        position: fixed;

        a {
            width: 100%;
            text-align: center;
        }

        a:hover {
            background-color: lightgrey;
        }
    }

    .right_text.slide-in {
        display: flex;
        animation: slideIn 0.3s ease-in-out;
    }

    .right_text.slide-f {
        display: none;
        animation: slideIn 0.3s ease-in-out;
    }

    .slide-x {
        z-index: 100;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        position: fixed;
        animation: slideIn 0.3s ease-in-out;
    }

    .md:hidden {
        display: flex;
        /* Show the menu toggle button on mobile */
    }
}

/* Desktop menu styles */
@media (min-width: 769px) {
    .right_text {
        display: flex;
        /* Show the menu items on desktop */
    }

    .md:hidden {
        display: none;
        /* Hide the menu toggle button on desktop */
    }
}

/* Slide-in animation */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Navigation link styles */
.text_hover {
    padding: 8px 0px;
    /* Add padding for better spacing */
    cursor: pointer;
}

/* Add margin-top to navigation items on mobile */
@media (max-width: 768px) {
    .text_hover {
        margin-top: 8px;
        margin-bottom: 8px;
        /* Add margin-top for spacing between links */
    }
}