@import url('https://fonts.googleapis.com/css?family=Roboto:700');

p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}


.animation {
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    /* background-color:#20a7d8; */

}

.second div {
    /* background-color:#CD921E; */

}

.third div {
    /* background-color:#c10528; */

}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.42rem;
    }

    30% {
        margin-top: -5.32rem;
    }

    40% {
        margin-top: -11.14rem;
    }

    60% {
        margin-top: -11.14rem;
    }

    70% {
        margin-top: -5.42rem;
    }

    80% {
        margin-top: -5.42rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}