/* edit profile */
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: .3s;
}

.svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn:hover {
    color: transparent;
}

.Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}


/* add item */
.add-item {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #00a600;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #00a600;
}

.add-item,
.add-item span {
    transition: 200ms;
}

.add-item .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.add-item .icon {
    position: absolute;
    border-left: 1px solid #007300;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-item svg {
    width: 15px;
    fill: #eee;
}

.add-item:hover {
    background: #00a600;
}

.add-item:active {
    background: #00cc00;
}

.add-item:hover .text {
    color: transparent;
}

.add-item:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.add-item:focus {
    outline: none;
}

.add-item:active .icon svg {
    transform: scale(0.8);
}

.buttonSpan {
    color: white;
    margin: 150px;
    font-size: 30px;
}